*{
  margin: 0;
  padding: 0;
}

main{
  border: 2px solid black;
  padding-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  /* justify-content: center; */
  
}
img {
  border:solid 1px black;
}